Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -zircon-*,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -misc-non-private-member-variables-in-classes,
        -hicpp-uppercase-literal-suffix,
        -readability-uppercase-literal-suffix,
        -readability-identifier-length,
        -cppcoreguidelines-pro-type-reinterpret-cast,
        -performance-no-int-to-ptr,
        -bugprone-easily-swappable-parameters,
        -readability-simplify-boolean-expr,
        -hicpp-signed-bitwise,
        -cppcoreguidelines-avoid-magic-numbers,readability-magic-numbers,
        -readability-function-cognitive-complexity,
"
WarningsAsErrors: ''
HeaderFilterRegex: ''