Language: Cpp
BasedOnStyle: LLVM

UseTab: Never
TabWidth: 4
IndentWidth: 4
AccessModifierOffset: -2
IndentCaseLabels: false
ColumnLimit: 0
BreakBeforeBraces: Attach

SortIncludes: false
SortUsingDeclarations: false

NamespaceIndentation: All
CompactNamespaces: true

AllowShortIfStatementsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: false
